.kwall-megamenu-wrapper {
  position: relative;
}
.accessible-megamenu {
  position: static;
}
.accessible-megamenu .accessible-megamenu-top-nav-item {
  position: static;
}
.accessible-megamenu-panel {
  width: 980px;
}
.accessible-megamenu-panel-group {
  display: inline-block;
  vertical-align: top;
}